<!DOCTYPE html>
<html>
<title>HanshenWang.com - Blog</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

    <!-- Header -->
    <header class="w3-container w3-center w3-padding-32">
        <h1><b>Hanshen's Blog</b></h1>
        <p>"Blessed are the poor in spirit: for theirs is the kingdom of heaven."<span class="w3-tag">Matthew 5:3</span></p>
    </header>

    <!-- Grid -->
    <div class="w3-row">

        <!-- Blog entries -->
        <div class="w3-col l8 s12">
            <!-- Blog entry -->
            <div class="w3-card-4 w3-margin w3-white">
                <img src="/w3images/woods.jpg" alt="Nature" style="width:100%">
                <div class="w3-container">
                    <h3><b>Aletheia</b></h3>
                    <h5>Our Father who art in Heaven,<span class="w3-opacity">March 21, 2020</span></h5>
                </div>

                <div class="w3-container">
                    <p>
                        Hello from the past. The first blog post states key aims of the webapp, as well as links to useful resources.
                        Though I'm not sure if another place to dump "useful resources" is a good idea. "Tomorrow" is
                        a convenient locked box to dump all of the tasks that must be done today. I certainly hope
                        future Hanshen has his shit together, because it certainly doesn't feel like it now.
                        Conquering procrastination should be my number one goal. Even to this moment, I am writing
                        this blog post and developing this web application instead of doing what I should be doing.
                        It's crushing, the unpleasant feeling of all the unfinished tasks that are waiting to be started.
                        Include the knowledge that it is completely of your own doing makes it the more unbearable.

                        Let this post be motivation then. Things can and will get worse if you don't act!!
                        Offer it up to God. Take 2lt Moran's advice and come clean. There is no better, nor more urgent
                        time than now.

                        The greek word for truth "Aletheia" means "the state of not being hidden", of not forgetting things
                        you once knew. Don't forget the pain, the disappointment you feel acutely. This post will be
                        pinned to remind you how powerful self-deception is, and to remind you of your pitiful state.

                        What do motivation and women have in common? Motivation is a fleeting shadow of its brother discipline,
                        and I'll take Verdi's word that "La donna e mobile". A testament to the times of political correctness
                        that to publish the above could very possibly destroy a career. But let's not flatter yourself, buddy.
                        What career? You're a 3rd year eng student who is failing his courses.

                        Like living without women, I also cannot live without motivation (and a reason for living,
                        but I digress). Click here for a link to my motivational page. An idea shamelessly stolen from
                        emergency.nofap.com, but I'll shut myself up for now.
                    </p>
                    <div class="w3-row">
                        <div class="w3-col m8 s12">
                            <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
                        </div>
                        <div class="w3-col m4 w3-hide-small">
                            <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">0</span></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <!-- Blog entry -->
            <div class="w3-card-4 w3-margin w3-white">
                <img src="/w3images/bridge.jpg" alt="Norway" style="width:100%">
                <div class="w3-container">
                    <h3><b>WebApp launch version 0.0.2</b></h3>
                    <h5>On purpose and future plans<span class="w3-opacity">March 21, 2020</span></h5>
                </div>

                <div class="w3-container">
                    <p>
                        At least something good came out of the COVID-19 self imposed quarantine. After 3 days of
                        meandering I've finally put together an amateur web app from zero base knowledge.
                        Current features: an intro tab, my posted resume, and a private blog hosted on Google App Engine.
                        I went from a static webpage, to an encounter with php to finally java with spring-boot.
                        I also went through 2 IDE's as well before settling on intelliJ IDEA. Implementing spring security
                        took the better part of those 3 days, but I would say it was worth it. I hope most people can
                        understand a private blog means a PRIVATE blog. It would be more accurate to say diary, but then
                        my fragile masculinity would be attacked.

                        I can confidently say my english peaked in grade 12 AP English (All gratitude owed to Mrs.Kim, a
                        fantastic teacher). Not many essay courses in an engineering courseload. You don't use it, you lose it.
                        Applies to working out as well as my writing ability. The written word is a beautiful medium.
                        Good communication comes with practical, professional and personal benefits.

                        Many thanks to detailed documentation, clear tutorials, and of course, to Stack Overflow.

                        A quick rundown of future features (order to be completed):
                        -Bookshelf app
                        -Online word editing capability
                        -Weather widget on homepage
                        -Background Slideshow
                        -Ability to upload files w/ Gcloud and MySQL
                        -A functioning contact form & email sever

                    </p>
                    <div class="w3-row">
                        <div class="w3-col m8 s12">
                            <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
                        </div>
                        <div class="w3-col m4 w3-hide-small">
                            <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-badge">2</span></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END BLOG ENTRIES -->
        </div>

            <!-- Posts -->
            <div class="w3-card w3-margin">
                <div class="w3-container w3-padding">
                    <h4>Archive</h4>
                </div>
                <ul class="w3-ul w3-hoverable w3-white">
                    <li class="w3-padding-16">
                        <img src="/w3images/workshop.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">Spring 2020</span><br>
                        <span></span>
                    </li>
                    <li class="w3-padding-16">
                        <img src="/w3images/gondol.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">Ipsum</span><br>
                        <span>Praes tinci sed</span>
                    </li>
                    <li class="w3-padding-16">
                        <img src="/w3images/skies.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">Dorum</span><br>
                        <span>Ultricies congue</span>
                    </li>
                    <li class="w3-padding-16 w3-hide-medium w3-hide-small">
                        <img src="/w3images/rock.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">Mingsum</span><br>
                        <span>Lorem ipsum dipsum</span>
                    </li>
                </ul>
            </div>
            <hr>

            <!-- Labels / tags -->
            <div class="w3-card w3-margin">
                <div class="w3-container w3-padding">
                    <h4>Tags</h4>
                </div>
                <div class="w3-container w3-white">
                    <p><span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">London</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">IKEA</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">NORWAY</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">DIY</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Baby</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Family</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shopping</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Games</span>
                    </p>
                </div>
            </div>

            <!-- END Introduction Menu -->
        </div>

        <!-- END GRID -->
    </div><br>

    <!-- END w3-content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
    <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
    <button class="w3-button w3-black w3-padding-large w3-margin-bottom">Next »</button>
</footer>

</body>
</html>
